services:
  production:
    # image: ghcr.io/presenton/presenton:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      # You can replace 5000 with any other port number of your choice to run Presenton on a different port number.
      - "4000:80"
    volumes:
      - ./app_data:/app_data
